mat-form-field {
  width: 100%;
}

.angular-editor-wrapper[_ngcontent-slt-c8] .angular-editor-textarea[_ngcontent-slt-c8] {
  background-color: rgb(240, 240, 240);
}

button {
  display: block;
  width: 100%;
}
