<h2 i18n>Jelszó módosítás</h2>
<mat-divider></mat-divider>
<br>
<form #changePasswordForm>
  <mat-form-field>
    <input name="userChangePassword.email" matInput [(ngModel)]="userChangePassword.email" placeholder="email"
      i18n-placeholder type="text" #userEmailModel="ngModel" required minlength="1" />
    <mat-error *ngIf="userEmailModel.invalid && (userEmailModel.dirty|| userEmailModel.touched)" i18n>Az email-t
      kötelező megadni
    </mat-error>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input name="userChangePassword.oldPassword" matInput [(ngModel)]="userChangePassword.oldPassword"
      placeholder="Régi jelszó" i18n-placeholder type="password" required minlength="1" #oldPasswordModel="ngModel">
    <mat-error *ngIf="oldPasswordModel.invalid && (oldPasswordModel.dirty|| oldPasswordModel.touched)" i18n>A jelszót
      kötelező megadni
    </mat-error>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input name="userChangePassword.newPassword1" matInput [(ngModel)]="userChangePassword.newPassword1"
      placeholder="Új jelszó" i18n-placeholder type="password" required minlength="1" #newPassword1Model="ngModel">
    <mat-error *ngIf="newPassword1Model.invalid && (newPassword1Model.dirty|| newPassword1Model.touched)" i18n>A jelszót
      kötelező megadni
    </mat-error>
  </mat-form-field>
  <br>

  <mat-form-field>
    <input name="userChangePassword.newPassword2" matInput [(ngModel)]="userChangePassword.newPassword2"
      placeholder="Új jelszó mégegyszer" i18n-placeholder type="password" required minlength="1"
      #newPassword2Model="ngModel">

    <mat-error *ngIf="newPassword2Model.invalid && (newPassword2Model.dirty||newPassword2Model.touched)" i18n>A jelszót
      kötelező megadni
    </mat-error>

  </mat-form-field>

  <br>

  <button mat-raised-button color="primary" (click)="save()"
    [disabled]="userEmailModel.invalid||oldPasswordModel.invalid||newPassword1Model.invalid||newPassword2Model.invalid"><span
      class="material-icons">
      check_circle
    </span><span i18n>Mentés</span></button>
</form>
