<h2 i18n>Elfelejtett jelszó</h2>
<mat-divider></mat-divider>
<br>
<form #forgottenPasswordForm>
  <mat-form-field>
    <input name="user.email" matInput [(ngModel)]="user.email" placeholder="email" i18n-placeholder type="text" required
      minlength="1" #userEmailModel="ngModel" />
    <mat-error *ngIf="userEmailModel.invalid && (userEmailModel.dirty|| userEmailModel.touched)" i18n>
      Az email-t kötelező megadni</mat-error>

  </mat-form-field>
  <br>
  <button mat-raised-button color="primary" (click)="getNewPassword()" [disabled]="userEmailModel.invalid"><span
      class="material-icons" matTooltip="Az új jelszót az email címre küldjük ki" i18n-matTooltip>
      check_circle
    </span><span i18n>Új jelszót
      kérek</span></button>
</form>
